@model LivroDigital.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Criar senha";
}

<main aria-labelledby="title" class="container my-4">
    <p class="text-info text-center">
        Você não tem um nome de usuário/senha local para este site. Adicione uma conta
        local para que você possa entrar sem um login externo.
    </p>

    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4 class="text-secondary">Criar login local</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="mb-3 row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Digite sua nova senha" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3 row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirme sua nova senha" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mb-3 row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Definir senha" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
